@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Caprasimo';
}

body {
  background-color: black;
}

a {
  text-decoration: none;
}

.container {
  width: 1440px;
  margin: 0 auto;
}
